---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout title="Curriculum Vitae | Federico Calicchia" description="Esperienze Lavorative ">
	<div class="stack gap-20">
		<main class="wrapper about" style="padding-top: 50px;">
			<Hero
				title="Background"
			>
			</Hero>
			<section>
				<h2 class="section-title">Federico Calicchia, in breve (più o meno)</h2>
				<div class="content" style="text-align: justify;">
					<p>Ciao, sono Federico Calicchia e sono un Web designer da oltre 6 anni, esperto del CMS WordPress (anche se questo sito è realizzato con <a href="https://astro.build/">Astro</a>)</p>
					<p>Appassionato di grafica sin da bambino inizio a “giocare” con programmi CAD e di fotoritocco.</p>
					<p>Passione che inizialmente mi porta a prendere il diploma da Geometra, ma che nel tempo si è avvicinata sempre più al mondo del Web, infatti non appena terminati gli studi ho seguito alcuni corsi di formazione in ambito web design ed ho iniziato a svolgere un tirocinio presso la Monkey Marketing una web agency.</p>
					<p>Successivamente ho lavorato come responsabile Grafico per un anno all’ MBM Biliardi, una nota fabbrica di biliardi, dove sono riuscito ad unire gli studi precedenti con il web design (Render 3D interattivi) e mi avvicinai al mondo del Video Editing e della Post Produzione Audio, Foto e Video.</p>
					<p>A maggio 2018 tornai a lavorare nella web agency Monkey Marketing dove ho ampliando le mie conoscenze sulla User Interface, sul Digital Marketing e sul mondo del Motion Graphics.</p>
					<p>Nel 2019 ho dedicato la maggior parte del tempo alla formazione, ho ottenuto la Certificazione Google nel digital marketing e mi sono affacciato al mondo della programmazione web, iniziando a studiare JavaSript e php, ed anche a quello del Modding Android a livello di sistema e reverse-engineering delle app, sul finire del 2019 incominciato a lavorare per la DAG STUDIO, web agency nella quale sono stato fino ad inizio Aprile 2020 e mi occupavo della realizzazione di Siti Web, e-commerce, realizzazione di grafiche varie e Video Editing.</p>
					<p>In contemporanea nel 2019 sono entrato a far parte dell' Aeron Sim, una azienda che si occupa di simulatori di guida ed allenamento piloti, ricoprendo i ruoli di Web Master, Marketing manager, nella quaale a gennaio 2021 divenni socio co-fondatore (Possiedo solo quote socetarie ora, ma non svolgo più alcun ruolo)</p>
					<p>Ad oggi lavoro come <a href="http://calicchia.design">Freelancer</a>, mi occupo di realizzare di siti web ed e-commerce per piccole attività o per conto di altre Web Ageny e lavoro part-time per la Sewing Store (un rivenditore Singer) dove mi occupo della gestione del sito web e dello shop online.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Esperienze Lavorative</h2>
				<div class="content">
				<div class="stack gap-2 top-20">
					<Pill>07/2023 - Presente</Pill>
					<h5>Web Master & Shop Manager - Sewing Store (Singer)</h5>
					<p>Gestione sito web ed e-commerce</p>
					<hr class="hr-50">
				</div>	
				<div class="stack gap-2 top-20">
					<Pill>07/2021 - Presente</Pill>
					<h5>Web Designer - Calicchia Design</h5>
					<p>Consulenze Digital Marketing, realizzazione di siti web ed e-commerce</p>
					<hr class="hr-50">
				</div>
				<div class="stack gap-2 top-20">
					<Pill>10/2019 - 06/2022</Pill>
					<h5>Co-Founder/Marketing Manager - Aeron Sim</h5>
					<p>Gestione sito web, e-commerce, SEO e campagne pubblicitarie.</p>
					<hr class="hr-50">
				</div>
				<div class="stack gap-2 top-20">
					<Pill>07/2021 - 10/2021</Pill>
					<h5>Docente - Edison School</h5>
					<p>Insegnamento sulla realizzazione di siti web ed e-commerce basati su Wordpress e Woocmmerce.</p>
					<hr class="hr-50">
				</div>	
				<div class="stack gap-2 top-20">
					<Pill>10/2019 - 04/2020</Pill>
					<h5>Web & Graphic Designer - Dag Studio</h5>
					<p>Sviluppo e gestione siti web, editing video, progettazione logotipi.</p>
					<hr class="hr-50">
				</div>	
				<div class="stack gap-2 top-20">
					<Pill>07/2019 - 12/2019</Pill>
					<h5>Social Media Manager - RBR-WORLD</h5>
					<p>Gestione dei social media, creazione e pubblicazione dei post, copywriting e gestione delle news.</p>
					<hr class="hr-50">
				</div>	
				<div class="stack gap-2 top-20">
					<Pill>05/2018 - 03/2019</Pill>
					<h5>Grafico Pubblicitario - Monkey Marketing</h5>
					<p>Sviluppo e gestione siti web, editing video (base), impaginazioni brochure e flyer, progettazione logotipi.</p>
					<hr class="hr-50">
				</div>	
				<div class="stack gap-2 top-20">
					<Pill>06/2017 - 04/2018</Pill>
					<h5>Web & Graphic Designer - MBM Biliardi</h5>
					<p>Sviluppo e gestione siti web, gestione ordini e-commerce, editing video (base), renderizzazione scene 3D, impaginazione cataloghi, progettazione logotipi.</p>
					<hr class="hr-50">
				</div>	
				<div class="stack gap-2 top-20">
					<Pill>10/2016 - 03/2017</Pill>
					<h5>Grafico Pubblicitario - Monkey Marketing</h5>
					<p>Sviluppo e gestione siti web, impaginazioni brochure e flyer, progettazione logotipi.</p>
				</div>		
				</div>
			</section>
			<section>
				<h2 class="section-title">Formazione</h2>
				<div class="content">
					<div class="stack gap-2 top-20">
						<Pill>2019</Pill>
						<h5>Certificazione in "Marketing Digitale" - GOOGLE</h5>
						<p>Analisi e approfondimenti sui dati, strategia commerciale, social media marketing, content marketing, pubblicità display, marketing via mail e locale, SEO e SEM.</p>
						<hr class="hr-50">
					</div>	
					<div class="stack gap-2 top-20">
						<Pill>2015</Pill>
						<h5>Corso di formazione : “GRAPHIC & WEB DESIGNER” - ASSOCIAZIONE IL FARO</h5>
						<p>Ideazione grafica prodotto multimediale, progettazione tecnica componenti grafiche del prodotto multimediale e sviluppo layout grafico del prodotto multimediale.</p>
						<hr class="hr-50">
					</div>	
					<div class="stack gap-2 top-20">
						<Pill>2010 - 2015</Pill>
						<h5>Diploma di “COSTRUZIONI, AMBIENTE E TERRITORIO” - ISTITUTO DI ISTRUZIONE “F. Brunelleschi – L. Da Vinci"</h5>
						<p>Inglese, italiano, storia, matematica, ed fisica, fisica, chimica, scienze, ecologia, diritto ed economia. Topografia, estimo, disegno tecnico, disegno in AutoCAD, sicurezza in cantiere.</p>
					</div>	
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
 main {padding-top: 100px;}
	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
