---
interface Props {
	href: string;
	variant?: 'primary' | 'success' | 'warning';
	external?: boolean;
}

const { href, variant = 'primary', external = false } = Astro.props;
const cls = `nes-btn is-${variant}`;
---

<a
	href={href}
	class={cls}
	target={external ? '_blank' : undefined}
	rel={external ? 'noopener noreferrer' : undefined}
><slot /></a>

<style>
	a {
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		gap: var(--sp-2);
	}
</style>
